body {
    font-family: "Marker Felt", "Comic Sans MS", fantasy;
    color: #003366;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
    cellspacing: 0px;
}

tr {
    border: 1px solid #ffffff;
    text-align: center;
    background-color: #9FB6CD;
}

th {
    text-align: center;
    color: #ffffff;
    background-color: #003366;
}

h1 {
    font-size: 2.3em;
    font-family: fantasy;


}

#home {


    background-color: orange;
    color: black;
    width: 500px;
    padding: 50px;
    margin: 20px;
    height: auto
}

#home2 {
    background-color: black;
    color: orange;
    width: auto;
    padding: 5px;
    margin: 20px;
    height: auto
}

.links {

    padding 50px;

}

dl {}

dd {
    margin: 0;
    padding: 1em 0;
    background-color: transparent;
    color: black;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background: #e3e3e3;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid white;
    background-color: transparent;
    color: black;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.hide {
    display: none;
}

h4 {
    font-size: 1.25em;
    color: black;
    background-blend-mode: color-burn;



}

ol {
    align-content: center;
}
